* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 30px;
    background-color: goldenrod;
    color: #fff;
}

.container {
    display: flex;
}

nav {
    background-color: #333;
    display: flex;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 16px 20px;
}
nav a:hover {
    background-color: gainsboro;
    color: #333;
}

main {
    display: flex;
}

.sidebar {
    flex: 25%;
    order: 1;
    background-color: gainsboro;
    align-self: flex-start;
}

.box {
    padding: 20px;
}

.content {
    flex: 75%;
    
}
h2{
    margin-bottom: 5px;
}

p{
    margin: 5px 0px;
}

@media screen and (max-width: 700px) {
    nav,main{
        flex-direction: column;
       
    }
    .sidebar{
        order: -1;
    }
}