ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
}

li {
    float: left;
    margin-right: 1px;
}


li a {
    display: block;
    background-color: black;
    min-width: 140px;
    color: white;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: 'Zen Dots', cursive;
}

li a:hover {
    background-color: yellowgreen;
}

li:hover ul a{
    background: #f3f3f3;
    color: black;
    height: 40px;
    line-height: 40px;
}

li:hover ul a:hover{
    background-color: yellowgreen;
    color: #fff;
}

li ul li{
    display: block;
    float: none;
}

li ul li a{
    text-align: left;
    min-width: 100px;
    
}

li ul{
    display: none;
}

ul li a:hover + .hidden,.hidden:hover{
    display: block;
}

li:hover a{
    background-color: yellowgreen;
}
