li{
    list-style: none;
}

ol{
    border-left: 5px solid red;
    background-color: #F1F1F1;
    padding: 10px 20px;
}
ul{
    padding:0px;
    border: 1px solid #ddd;
}
ul li{
    border-bottom: 1px solid #ddd;
    padding: 7px 12px;
    margin-left: 0px;
}
ul li:last-child{
    border-bottom: none;
}